@charset "UTF-8";
/* font */
/*
@font-face {
font-family: "AdobeClean";
src: url("../font/font-adobe-clean.eot") format('eot'),
     url("../font/font-adobe-clean.woff2") format('woff2'),
     url("../font/font-adobe-clean.woff") format('woff'),
     url("../font/AdobeClean-It.ttf")  format('truetype');
font-weight: normal;
font-style: italic;
}*/
/* 関数 */
/* 共通 */
.body {
  width: 100%;
  margin: 0 auto;
  /* 【header】がpostion tickyの場合overflow非表示 */
  /*overflow: hidden;*/
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

/* 【header】がpostion tickyの場合overflow表示 */
.overfow-hidden {
  overflow: hidden;
}

.wi968 {
  width: 95%;
  max-width: 968px;
  margin: 0 auto;
}

.wi997 {
  width: 95%;
  max-width: 997px;
  margin: 0 auto;
}

.wi1280 {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.wi1280-2 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.wi1135 {
  width: 95%;
  max-width: 1135px;
  margin: 0 auto;
}

.wi100 {
  width: 100%;
}

.wi92 {
  width: 92px;
}

.wi1900 {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.flex-wa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ========================== */
/*         index.html         */
/* ========================== */
/* form */
/* otoi */
.otoi {
  background-color: #5677C3;
}

.balloon-con-16 {
  position: relative;
  background-color: #fff;
  border: 3px solid #FAF770;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 10px;
  display: inline-block;
  -webkit-box-shadow: 0 3px 0 0 #819013;
          box-shadow: 0 3px 0 0 #819013;
  max-width: 432px;
  width: 100%;
  margin: 0 auto;
}

.btn-1-top-con-16 {
  position: relative;
  z-index: 5;
  text-align: center;
  padding-top: 75px;
}

.p-39 {
  font-size: 32px;
  color: #fff;
  padding-top: 34px;
  padding-bottom: 37px;
  text-align: center;
}

.contact {
  background-color: #F1F1F1;
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
}

.form-le {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 235px;
  width: 100%;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 676px;
  width: 94%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.input-txa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 676px;
  width: 94%;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.input:nth-child(1) {
  padding-top: 90px;
  padding-bottom: 30px;
}

.p-40 {
  font-size: 16px;
  max-width: 175px;
  width: 100%;
}

.p-40-2 {
  font-size: 16px;
  max-width: 175px;
  width: 100%;
  padding-top: 7px;
}

.hissu {
  font-size: 14px;
  color: #fff;
  padding: 6.5px 13px;
  background-color: #D53838;
  width: 55px;
}

.form-text {
  width: 100%;
  background-color: #fff;
  border: none;
  height: 38px;
  font-size: 17px;
  margin-left: 10px;
  max-width: 556px;
}

.form-textarea {
  width: 100%;
  background-color: #fff;
  border: none;
  height: 224px;
  font-size: 17px;
  margin-left: 10px;
  max-width: 556px;
  resize: vertical;
}

.btn-5 {
  position: relative;
  display: inline-block;
  padding: 22px 22px;
  cursor: pointer;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  width: 100%;
  border: none;
  background: #43997f;
  background: -webkit-gradient(linear, left top, right top, from(#349175), color-stop(50%, #2b918b), to(#2192a2));
  background: linear-gradient(90deg, #349175 0%, #2b918b 50%, #2192a2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#349175",endColorstr="#2192a2",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-btn-5 {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 475px;
  width: 94%;
  margin: 0 auto;
  margin-top: 64px;
  padding-bottom: 56px;
}

.w-contact {
  padding-bottom: 140px;
}

.f-yaji {
  max-width: 17px;
  width: 100%;
  display: inline-block;
  height: 10px;
  margin-left: 3px;
}

.p-16 {
  font-size: 32px;
  font-family: "游明朝体", serif;
  color: #fff;
  text-align: center;
  padding-top: 176px;
  padding-bottom: 12.5px;
  font-weight: 600;
}

.form {
  background-color: #fcc;
}

.border-3 {
  height: 3px;
  width: 100%;
  max-width: 86px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 30.5px;
}

/* thanks */
.thanks {
  text-align: center;
  padding-top: 20vh;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
}

.th-p1 {
  padding-bottom: 25px;
}

/* ratin */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .form {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/* ================================== */
/*                 sp                 */
/* ================================== */
@media screen and (max-width: 767px) {
  /* 共通 */
  .sp80 {
    width: 92%;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 255, 0.452);*/
  }
  .sp80-2 {
    width: 100%;
  }
  .sp80-3 {
    width: 94%;
    margin: 0 auto;
  }
  .sp80-4 {
    width: 96%;
    margin: 0 auto;
  }
  .wi997 {
    width: 100%;
  }
  .wi968 {
    width: 100%;
  }
  .wi1280 {
    width: 100%;
  }
  .wi1280-2 {
    width: 100%;
  }
  .wi1135 {
    width: 100%;
  }
  .wi100 {
    width: 100%;
  }
  .wi1900 {
    width: 100%;
  }
  /* form */
  /* form */
  .form-text {
    width: 100%;
    margin-left: 0;
    height: 45px;
  }
  .input, .input-txa {
    display: block;
    padding-bottom: 20px;
  }
  .p-40 {
    width: auto;
    margin-right: 10px;
    font-size: 20px;
  }
  .form-le {
    padding-bottom: 10px;
  }
  .input:nth-child(1) {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .w-btn-5 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 65px;
  }
  .form-textarea {
    margin-left: 0;
    height: 268px;
  }
  .w-contact {
    padding-bottom: 83px;
  }
  .p-39 {
    padding-top: 34px;
    padding-bottom: 63px;
  }
  .balloon-con-16 {
    max-width: 355px;
    width: 100%;
  }
  .p-16 {
    padding-top: 60px;
    padding-bottom: 17.5px;
    line-height: 1.2;
  }
  .border-3 {
    height: 3px;
    width: 100%;
    max-width: 86px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 41.5px;
  }
  /* thanks */
  .thanks {
    text-align: left;
    padding-top: 25vh;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    width: 80%;
    margin: 0 auto;
  }
  .th-p1 {
    padding-bottom: 20px;
  }
  /*
    .form{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/form-back-sp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }*/
}

@media screen and (max-width: 321px) {
  .s4 {
    margin-right: 15px;
    margin-left: 15px;
    max-width: 33px;
  }
  .p-3 {
    font-size: 28px;
  }
  .s-kage {
    top: 49%;
  }
}

/* ratin */
/*# sourceMappingURL=style.css.map */