@charset "UTF-8";
/* font *//*
@font-face {
font-family: "AdobeClean";
src: url("../font/font-adobe-clean.eot") format('eot'),
     url("../font/font-adobe-clean.woff2") format('woff2'),
     url("../font/font-adobe-clean.woff") format('woff'),
     url("../font/AdobeClean-It.ttf")  format('truetype');
font-weight: normal;
font-style: italic;
}*/
  /* 関数 */
$f_8:0.5rem;
$f_9:0.5625rem;
$f_10:0.625rem;
$f_11:0.6875rem;
$f_12:0.75rem;
$f_14:0.875rem;
$f_16:1rem;
$f_18:1.125rem;
$f_20:1.25rem;
$f_22:1.375rem;
$f_24:1.5rem;
$f_26:1.625rem;

$font_f_pl:'Playball', cursive;
$colore_go:#8C8247;
$colore_gr:#DBD6D1;
$color-pk:#B70241;
$color-mi:#2B3A31;

$font_fa_yuu:"游明朝体", serif;
$font_fa_hirai:"Hiragino Kaku Gothic ProN", sans-serif;
$font_fa_adc:"AdobeClean";


/* 共通 */
.body{
    width:100%;
    margin:0 auto;
    /* 【header】がpostion tickyの場合overflow非表示 */
    /*overflow: hidden;*/
    //font-family: 'YuMincho', Yu Mincho  ,serif;
    font-family: $font_fa_hirai;
}
/* 【header】がpostion tickyの場合overflow表示 */
.overfow-hidden{
    overflow: hidden;
}
.wi968{
    width:95%;
    max-width:968px;
    margin:0 auto;
}
.wi997{
    width:95%;
    max-width:997px;
    margin:0 auto;
}
.wi1280{
    width:95%;
    max-width:1280px;
    margin:0 auto;
}
.wi1280-2{
    width:100%;
    max-width:1280px;
    margin:0 auto;
}
.wi1135{
    width:95%;
    max-width:1135px;
    margin:0 auto;
}
.wi100{
    width:100%;
}
.wi92{
    width:92px;
}
.wi1900{
    width:100%;
    max-width:1900px;
    margin:0 auto;
}
.flex-wa{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

/* ========================== */
/*         index.html         */
/* ========================== */
/* header */
.header-back{
    position: sticky;
    top:0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.952);
    z-index: 99;
}
.header-nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:26px;
    padding-bottom:20px;
}
.h-ul{
    display:flex;
}
.logo{
    width:49px;
}
.nav-li{
    margin-left:40px;
}
.a{
    height:10000px;
    background-color: #707070;
}
.b{
    height:10000px;
    background-color: #a3ff8c;
}

.none{
    opacity: 0;
    transition: 0.7s;
    visibility: hidden;
}
.fixed{
    transition: 0.7s;
}
/* header */
.w-h-mail{
    display: flex;
    background: rgb(52,145,117);
    background: -moz-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(33,146,162,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(33,146,162,1) 100%);
    background: linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(33,146,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#349175",endColorstr="#2192a2",GradientType=1);
    //max-width: 210px;
    width:210px;
    justify-content: center;
    padding-top:8px;
    padding-bottom:8px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.22);
    margin-top: 4px;
    margin-bottom: 4px;
}
.p-1{
    color:#fff;
    font-family: $font_fa_hirai;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.s1{
    font-size: 15px;
}
.h-mail{
    height:auto;
    display: flex;
    align-items: center;
    margin-right:6.7px;
}
.h-tel{
    max-width: 232px;
    width: 100%;
    margin-right:5.2px;
}
/* fv */
.fv{
    background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fv-moji{
    max-width: calc(1280px - 771px + 771px);
    width: 100%;
    margin-right: auto;
    padding-right: calc(1280px - 771px);
} 
.h-mail-2{
    width:28px;
    margin-right: 3px;
}
.w-btn-1-bo{
    display: flex;
    align-items: flex-end;
    max-width: 405px;
    width:100%;
    background: rgb(67, 153, 127);
    background: -moz-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(43,145,139,1) 50%, rgba(33,146,162,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(43,145,139,1) 50%, rgba(33,146,162,1) 100%);
    background: linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(43,145,139,1) 50%, rgba(33,146,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#349175",endColorstr="#2192a2",GradientType=1);
    justify-content: center;
    padding-top:34px;
    padding-bottom:27.5px;
}
.p-1-2{
    color:#fff;
    font-family: $font_fa_hirai;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
}
.s1-2{
    font-size: 30px;
}
.s2{
    font-size: 24px;
}
.b-top-t{
    font-size: 18px;
}
.s3{
    font-family: "AdobeClean";
    color:#404040;
    font-size: 27px;
    margin-left: 2px;
    display: inline-block;
    width:100%;
    max-width:13px;
    margin-right: 1px;
}
.w-btn-1-top-t{
    max-width: 325px;
    width:85%;
    background-color: #fff;
    border:5px solid #259198;
    text-align: center;
    padding-top:8px;
    padding-bottom:7px;
    position: relative;
    z-index: 5;
    top:23px;
    margin: 0 auto;
    margin-top: -23px;
}
.w-btn-1-top-t::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    bottom: -9px;
    border-top: 13px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 4;
}
.w-btn-1-top-t::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 49.3%;
    bottom: -17px;
    border-top: 17px solid #259198;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    z-index: 3;
}
.btn-1{
    display:inline-block;
    max-width: 405px;
    width:100%;
    height: 120px;
}
.fv-kann{
    max-width: 549px;
    width:100%;
    margin-left:24px;
}
.fv-moji-b{
    display: flex;
    justify-content: center;
    padding-top:16.6px;
    padding-bottom:14.3px;
    width: 90%;
    margin: 0 auto;
}
.p-2{
    font-size: 16px;
    color:#fff;
    font-weight: 300;
    text-align: right;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.46);
    padding-bottom:8px;
}
/* fv-bottom */
.l-1{
    max-width: 114px;
    width:114px;
    padding-top:41px;
    padding-bottom:31px;
    margin-right: 19.7px;
}
.fv-bottom{
    background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-bottom-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slideshow{
    display: flex;
    justify-content: center;
}
.warp {
    display: flex;
    align-items: center;
    height:128px;
    overflow: hidden;
}

/* nayami */
.nayami{
    background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/con-1-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 50% 100%, 0% 88%);
}
.con-1{
    max-width: 740px;
    width:100%;
    margin:0 auto;
    padding-top:61px;
    padding-bottom:82px;
}
.nayami-section{
    background-color: #F1F1F1;
}
.dennkyuu{
    max-width: 92px;
    width:100%;
}
.con-b-moij{
    max-width: 824px;
    width:100%;
    margin:0 auto;
    padding-top:37px;
    padding-bottom:62px;
}
/* ponint */
.point{
    background-color: #fff;
}
.p-3{
    font-size: 32px;
    font-family: $font_fa_yuu;
    text-align: center;
    z-index: 4;
    position: relative;
    padding-top:68px;
    padding-bottom:82px;
    font-weight: 600;
}
.s4{
    font-size: 72px;
    color: #CE2203;
    font-family: $font_fa_adc;
    margin-right:19px;
    margin-left:19px;
    width:100%;
    max-width: 33px;
    display: inline-block;
}
.s-kage{
    position: absolute;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(228,228,228,0.9542191876750701) 28%, rgb(213, 213, 213) 50%, rgba(180, 180, 180, 0) 73%, rgba(122,122,122,0) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(228,228,228,0.9542191876750701) 28%, rgb(213, 213, 213) 50%, rgba(180, 180, 180, 0) 73%, rgba(122,122,122,0) 100%);
    background: radial-gradient(circle, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(228,228,228,0.9542191876750701) 28%, rgb(213, 213, 213) 50%, rgba(180, 180, 180, 0) 73%, rgba(122,122,122,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#7a7a7a",GradientType=1);
    width:102px;
    height:102px;
    top:43%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.18));
}
.w-in-con-2{
    position: relative;
    z-index: 5;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.18));
    padding-top: 19px;
}
.p-5{
    font-size: 20px;
    font-weight: 600;
    color:#333333;
    line-height: 1.3;
}
.s5{
    font-size: 28px;
    color:#CE2203;
}
.s5-2{
    font-size: 28px;
    color: #F1F1F1;
}
.p-4{
    width:34px;
    margin-right:20px;
}
.p-4-2{
    width:55px;
    margin-right:20px;
}
.con-2{
    background-color: #F1F1F1;
    padding-top:10px;
    padding-bottom:33px;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: 150px;
    /*margin-right: 410px;*/
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
    display: inline-block;
}
.con-2-2{
    background-color: #CE2203;
    padding-top:10px;
    padding-bottom:33px;
    margin-right: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: 67px;
    margin-left: 410px;
    clip-path: polygon(100% 0%, 3% 0%, 0% 100%, 100% 100%);
}
.con-2-3{
    background-color: #F1F1F1;
    padding-top:10px;
    padding-bottom:33px;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: 175px;
    /*margin-right: 410px;*/
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
    display: inline-block;
}
.con-2-5{
    background-color: #F1F1F1;
    padding-top:10px;
    padding-bottom:33px;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: 240px;
    /*margin-right: 410px;*/
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
    display: inline-block;
}
.w-con-2{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.p-6{
    
    max-width: 417px;
    width:100%;
    font-weight: 300;
    margin-top:25px;
}
.w-s6{
    position: relative;
    z-index: 5;
    background-image: linear-gradient(transparent 75%, #ff7f7f 75%);
    padding-bottom: 6px; /* 調整 */
    padding-top:6px; /* 調整 */
    padding-right: 1%;
    padding-left: 1%;
}
.s6{
    position: relative;
    line-height: 1.5;
    z-index: 4;
    font-size: 20px;
    font-weight: 500;
}
.s6-kage{
    content: "";
    width:calc(20px + 6px + 2px);
    height:calc(20px + 6px + 2px);
    background-color: #fff;
    position:absolute;
    left: -1px;
    top: 1px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    z-index: 3;
}
.s6-kage-2{
    content: "";
    width:calc(20px + 6px + 2px);
    height:calc(20px + 6px + 2px);
    background-color:#fff;
    position:absolute;
    bottom: -1px;
    clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
    z-index: 3;
    right:214px;
}
.in-con-2{
    display:flex;
    align-items: flex-end;
}
.in-con-2-2{
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.c-2-1{
    position:absolute;
    top:0;
    right:0;
    margin-left: 600px;
}
.c-2-1-2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 600px;
}
.w-con-2-t{
    position:relative;
}
.ww-con-2{
    position: relative;
}
.p-6-img{
    max-width: 417px;
    width:100%;
    font-weight: 300;
    margin-top:25px;
    /*padding-bottom:134px;*/
    min-height: calc(253px - 25px);
}
.p-6-img-2{
    max-width: 417px;
    width:100%;
    font-weight: 300;
    margin-top:25px;
    /*padding-bottom:134px;*/
    margin-left:auto;
    min-height: calc(253px - 25px);
}
.p-6-img-3{
    max-width: 417px;
    width:100%;
    font-weight: 300;
    margin-top:25px;
    padding-bottom:28px;
}
.p-6-img-4{
    max-width: 417px;
    width:100%;
    font-weight: 300;
    margin-top:25px;
    padding-bottom:80px;
    margin-left:auto;
}
.aka-y{
    max-width:24px;
    width:100%;
}
.p-7{
    font-size:20px;
    font-weight: 300;
}
.con-3{
    display: flex;
    cursor: pointer;
}
.con-3-o{
    max-width:968px;
    width:100%;
    margin:0 auto;
    padding-top:30px;
}
/*
.w-con-2:nth-child(1) {
    padding-bottom:0;
}*/
.ww-con-2{
    padding-bottom:120px;
}
.ww-con-2:nth-child(10){
    padding-bottom:0px;
}
.w-con-3{
    display: inline-block;
}
.w-con-3-2{
    width: 100%;
    max-width: 147px;
    margin: 0 auto;
    margin-right: 0;
}
.s7{
    font-size: 20px;
    color: #CB0F00;
    margin-left:-12px;
}
.p-4-3{
    width:57px;
    margin-right:3px;
}
.p-4-4{
    width:60px;
    margin-right:8px;
}
.p-4-5{
    width:54px;
    margin-right:19px;
}
/* con-4 */
.con-4{
    max-width: 968px;
    width:100%;
    margin:0 auto;
    margin-top:122px;
    margin-bottom:135px;
}
/* cno-5 */
.itirann{
    background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/con-5-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.p-8{
    font-size: 32px;
    font-family: $font_fa_yuu;
    color:#fff;
    text-align: center;
    padding-top:43px;
    padding-bottom:12.5px;
    font-weight: 600;
}
.w-con-5{
    max-width: 968px;
    width:100%;
    margin:0 auto;
    background-color: rgba(0, 0, 0, 0.33);
}
.ww-con-5{
    padding-top:75px;
    padding-bottom:89px;
}
.border-1{
    height:3px;
    width:100%;
    max-width:86px;
    background-color: #fff;
    margin:0 auto;
    margin-bottom:51.5px;
}
.c5-l-1{
    max-width: 151px;
    width:100%;
    margin-right:10px;
    margin-bottom:11px;
}
.w-c-5-img{
    max-width: 645px;
    width:96%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 39px;
}
/* con-6 */
.p-9{
    font-size: 30px;
    font-family: $font_fa_yuu;
    text-align:center;
    font-weight: 600;
    padding-top:77px;
    padding-bottom:21px;
}
.border-2{
    max-width:61px;
    width:100%;
    height:1px;
    margin:0 auto;
    background-color:#707070;
}
.con-6-in-t{
    clip-path: ellipse(50% 50% at 50% 50%);
    background-color: #EEEEEE;
    max-width:148px;
    height:163px;
    width:100%;
    margin:0 auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 3;
}
.c-6-1{
    max-width: 109px;
    width:100%;
    margin:0 auto;
    padding-top: 30px;
}
.con-6-in{
    background-color: #eee;
    margin-top: 130px;
    margin-left: 115px;
    position:relative;
    margin-right: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
}
.con-6-in-2{
    background-color: #eee;
    margin-top: 160px;
    position:relative;
    margin-right: 115px;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
}
.con-6-in:before{
    content: "";
    background-color: #fff;
    clip-path: polygon(0% 0%, 0% 100%, 5% 0%);
    width:100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
}
.con-6-in-2:before{
    content: "";
    background-color: #fff;
    clip-path: polygon(95% 0%, 100% 0%, 100% 100%);
    width:100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: 1px;
}
.con-6-p1{
    max-width: 629px;
    width:100%;
    margin-left:auto;
    z-index: 3;
    position: absolute;
    margin-right: 285px;
    right: 0;
    top:-15px;
}
.con-6-p2 {
    max-width: 629px;
    width: 100%;
    margin-left: auto;
    z-index: 3;
    position: absolute;
    margin-left: 205px;
    top: -15px;
}
.con-6-p3 {
    max-width: 629px;
    width: 100%;
    margin-left: auto;
    z-index: 3;
    position: absolute;
    margin-right: 269px;
    right: 0;
    top: -15px;
}
.con-6-p4 {
    max-width: 629px;
    width: 100%;
    margin-left: auto;
    z-index: 3;
    position: absolute;
    margin-left: 208px;
    left:0;
    top: -15px;
}
.con-6-p5 {
    max-width: 629px;
    width: 100%;
    margin-left: auto;
    z-index: 3;
    position: absolute;
    margin-right: 281px;
    right: 0;
    top: -9px;
}
.c-6-i-1{
    background-color: #fff;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    /*padding-right: 68.5px;*/
    padding-right: 73px;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.18));
}
.c-6-i-3{
    background-color: #fff;
    margin-right: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: 68.5px;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.18));
}
.w-c-6-i-1{
    /*max-width:690px;
    width:100%;
    margin:0 auto;*/
    padding-top:164px;
    padding-bottom:41px;
    margin-left: 150px;
    margin-left: 150px;
    margin-right: calc(150px + 175px);
    position: relative;
    z-index: 5;
}
.yaji-sita{
    max-width: 30px;
    width:100%;
    position: absolute;
    z-index: 6;
    bottom:-23px;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.w-c-6-i-1-4{
    /*max-width:690px;
    width:100%;*/
    margin:0 auto;
    padding-top:143px;
    padding-bottom:41px;
    margin-left: calc(150px + 115px);
    position: relative;
    z-index: 5;
}
.ww-c-6-h{
    max-width:623px;
    width:100%;
}
.w-con-6-p1{
    max-width:968px;
    width:100%;
    margin:0 auto;
    position: relative;
    margin-right:0;
    z-index: 4;
}
.w-con-6-p2{
    max-width:968px;
    width:100%;
    margin:0 auto;
    position: relative;
    margin-left:0;
}
.c-6-h {
    background-color: #EEEEEE;
    font-size: 18px;
    font-weight: 600;
    padding:17px 23px;
    display: inline-block;
    position:relative;
}
.c-6-h::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 45%;
    bottom: -9px;
    border-top: 13px solid #eee;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    z-index: 4;
}
.w-c-6-h{
    padding-top:25px;
    padding-bottom:12px;
}
.p-19{
    font-size: 24px;
    font-family: $font_fa_yuu;
    padding-bottom:7px;
    border-bottom: 3px solid #BE351D;
    margin-bottom:12px;
    font-weight: 600;
    text-align: center;
    line-height: 1.3;
}
.p-20, .p-20-3{
    line-height: 1.6;
    padding-bottom:30px;
    font-size: 14px;
    letter-spacing: 0.014em;
}
.s8{
    font-weight: 700;
}
.w-c-6-i-1-2{
    max-width:968px;
    width:100%;
    margin:0 auto;
    margin-left: 150px;
    margin-right: 17px;
    padding-bottom:70px;
    position:relative;
    z-index: 3;
}
.w-c-6-i-1-3{
    margin: 0 auto;
    margin-right: 142px;
    padding-bottom: 70px;
    position: relative;
    z-index: 3;
    margin-left: 125px;
}
.c-6-i-1-2 {
    background-color: #BE351D;
    padding-left: 64px;
    margin-right: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
}
.c-6-i-1-3 {
    background-color: #BE351D;
    padding-left: 64px;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: 50px;
}
.w-p-19{
    background-color: #fff;
    max-width: 754px;
    width: 100%;
}
.w-p-19-2{
    background-color: #fff;
    max-width: 736px;
    width: 100%;
}
.ww-p-19{
    padding-bottom:55px;
    padding-right: 150px;
}
.ww-p-19-2{
    padding-bottom:55px;
}
.p-19-2-in{
    background: rgb(220,189,118);
background: -moz-linear-gradient(90deg, rgba(220,189,118,1) 20%, rgba(243,213,137,1) 30%, rgba(252,222,144,1) 45%, rgba(252,216,134,1) 57%, rgba(230,199,126,1) 67%, rgba(204,172,105,1) 76%, rgba(215,183,114,1) 83%);
background: -webkit-linear-gradient(90deg, rgba(220,189,118,1) 20%, rgba(243,213,137,1) 30%, rgba(252,222,144,1) 45%, rgba(252,216,134,1) 57%, rgba(230,199,126,1) 67%, rgba(204,172,105,1) 76%, rgba(215,183,114,1) 83%);
background: linear-gradient(90deg, rgba(220,189,118,1) 20%, rgba(243,213,137,1) 30%, rgba(252,222,144,1) 45%, rgba(252,216,134,1) 57%, rgba(230,199,126,1) 67%, rgba(204,172,105,1) 76%, rgba(215,183,114,1) 83%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcbd76",endColorstr="#d7b772",GradientType=1);
}
.p-19-2{
    padding-top:17px;
    padding-bottom:17px;
    font-size: 24px;
    font-family: $font_fa_yuu;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 600;
}
.p-19-2-2 {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 24px;
    font-family: "游明朝体", serif;
    text-align: center;
    width: 98%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: -0.07em;
}
.ww-p-19-2-in{
    max-width:690px;
    width:93%;
    margin:0 auto;
}
.ww-p-19-2-in-2{
    max-width:690px;
    width:90%;
    margin:0 auto;
}
.w-p-19-2-in{
    padding-top:44px;
    padding-bottom:13px;
}
.s9{
    font-weight: 700;
    color: #CB0F00;
}
.p-21{
    font-size: 18px;
    font-weight: 600;
}
.p-21-2{
    font-size: 22px;
    color:#fff;
}
.c-6-h-2 {
    background-color: #333;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 55px;
    display: inline-block;
    position: relative;
}
.c-6-h-2::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 45%;
    bottom: -9px;
    border-top: 13px solid #333;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    z-index: 4;
}
.p-20-2, .p-20-2-2 {
    line-height: 1.6;
    padding-bottom: 40px;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.014em;
}
.w-c-6-h-2 {
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 12px;
    margin-bottom: -40px;
    width: 93%;
}
.w-con-6-in{
    position: relative;
}
/* koe */
.p-10{
    font-size: 30px;
    font-family: "游明朝体", serif;
    text-align: center;
    font-weight: 600;
    padding-top: 126px;
    padding-bottom: 21px;
}
.p-11{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding-top: 40.5px;
    padding-bottom: 10px;
    width: 95%;
    margin:0 auto;
    line-height: 1.7;
}
.p-12{
    font-size: 16px;
    text-align: center;
    padding-bottom: 21px;
    line-height: 1.8;
    width: 95%;
    margin:0 auto;
}
.con-7-i-1{
    max-width: 286px;
    width:100%;
}
.con-7-i-1:nth-child(2){
    margin-right:25px;
    margin-left:25px;
}
.con-7-in{
    display: flex;
    justify-content: center;
}
.con-7-koe{
    max-width: 968px;
    width:100%;
    margin:0 auto;
}
.s10{
    color:#CB0F00;
}
.p-13{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}
.p-13-2{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}
.con-2-7{
    background-color: #fff;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: 53px;
    /*margin-right: 410px;*/
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
    display: inline-block;
}
.con-2-7-2{
    background-color: #fff;
    margin-left: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: 150px;
    /*margin-right: 410px;*/
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
    display: inline-block;
}


.con-7-p1{
    width:92px;
    margin-right: 5.5px;
    padding-top:15px;
    padding-bottom:14px;
    margin-left:76px;
}
.con-7-p2{
    width:92px;
    margin-right: 5.5px;
    padding-top:15px;
    padding-bottom:14px;
    margin-right:27px;
}
.con-7-p3{
    width:92px;
    margin-right: 25.5px;
    padding-top:15px;
    padding-bottom:14px;
    margin-left:76px;
}
.in-con-2-7 {
    display: flex;
    align-items: center;
}
.con-2-2-7{
    background-color: #fff;
    margin-right: calc(50% - 50vw);
    padding-right: calc(50vw - 50%);
    padding-left: 100px;
    margin-left: 226px;
    clip-path: polygon(100% 0%, 0% 0%, 5% 100%, 100% 100%);
}
.koe{
    background-color: #F1F1F1;
}
.w-in-con-2-7{
    position: relative;
    z-index: 5;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.18));
    padding-top: 30px;
}
.w-in-con-2-7:nth-child(1){
    position: relative;
    z-index: 5;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.18));
    padding-top: 89px;
}
.p-14{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    padding-top:19px;
    padding-bottom:180px;
}
/* cv-2 */
.con-4-7 {
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    padding-top: 145px;
    padding-bottom: 170px;
}
/* nagare */
.p-15 {
    font-size: 32px;
    font-family: "游明朝体", serif;
    text-align: center;
    z-index: 4;
    position: relative;
    padding-top: 190px;
    padding-bottom: 125px;
    font-weight: 600;
}
.nagare-con{
    max-width: 986px;
    width:100%;
    margin:0 auto;
    margin-bottom:193px;
}
.s-kage-2{
    position: absolute;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(228,228,228,0.9542191876750701) 28%, rgb(213, 213, 213) 50%, rgba(180, 180, 180, 0) 73%, rgba(122,122,122,0) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(228,228,228,0.9542191876750701) 28%, rgb(213, 213, 213) 50%, rgba(180, 180, 180, 0) 73%, rgba(122,122,122,0) 100%);
    background: radial-gradient(circle, rgba(255,255,255,0.9486169467787114) 0%, rgba(255,255,255,0.9458158263305322) 28%, rgba(228,228,228,0.9542191876750701) 28%, rgb(213, 213, 213) 50%, rgba(180, 180, 180, 0) 73%, rgba(122,122,122,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#7a7a7a",GradientType=1);
    width:102px;
    height:102px;
    top:59%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.18));
}
/* form */
/* otoi */
.otoi{
    background-color: #5677C3;
}
.balloon-con-16{
    position: relative;
    background-color: #fff;
    border: 3px solid #FAF770;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 600;
    padding-top:15px;
    padding-bottom:10px;
    display: inline-block;
    box-shadow: 0 3px 0 0 rgba(129,144,19,10);
    max-width: 432px;
    width:100%;
    margin: 0 auto;
}
  .btn-1-top-con-16{
    position: relative;
    z-index: 5;
    text-align: center;
    padding-top:75px;
  }
  .p-39{
    font-size: 32px;
    color:#fff;
    padding-top:34px;
    padding-bottom:37px;
    text-align: center;
  }
.contact{
    background-color: #F1F1F1;
    max-width: 968px;
    width:100%;
    margin:0 auto;
}
.form-le{
    display: flex;
    align-items: center;
    max-width: 235px;
    width:100%;
}
.input{
    display: flex;
    align-items: center;
    max-width: 676px;
    width:94%;
    margin:0 auto;
    padding-bottom:30px;
}
.input-txa{
    display: flex;
    align-items: center;
    max-width: 676px;
    width:94%;
    margin:0 auto;
    padding-bottom:30px;
    display: flex;
    align-items: flex-start;
}
.input:nth-child(1){
    padding-top: 90px;
    padding-bottom:30px;
}
.p-40{
    font-size: 16px;
    max-width: 175px;
    width:100%;
}
.p-40-2{
    font-size: 16px;
    max-width: 175px;
    width:100%;
    padding-top:7px;
}
.hissu{
    font-size: 14px;
    color:#fff;
    padding: 6.5px 13px;
    background-color: #D53838;
    width: 55px;
}
.form-text{
    width:100%;
    background-color: #fff;
    border: none;
    height:38px;
    font-size: 17px;
    margin-left:10px;
    max-width: 556px;
}
.form-textarea{
    width:100%;
    background-color: #fff;
    border: none;
    height:224px;
    font-size: 17px;
    margin-left:10px;
    max-width: 556px;
    resize: vertical;
}
.btn-5 {
    position: relative;
    display: inline-block;
    padding: 22px 22px;
    cursor: pointer;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    width: 100%;
    border:none;
    background: rgb(67, 153, 127);
    background: -moz-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(43,145,139,1) 50%, rgba(33,146,162,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(43,145,139,1) 50%, rgba(33,146,162,1) 100%);
    background: linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(43,145,139,1) 50%, rgba(33,146,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#349175",endColorstr="#2192a2",GradientType=1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-btn-5 {
    text-align: center;
    padding-top:0;
    padding-bottom:0;
    max-width: 475px;
    width: 94%;
    margin: 0 auto;
    margin-top: 64px;
    padding-bottom: 56px;
}
.w-contact{
    padding-bottom:140px;
}
.f-yaji{
    max-width: 17px;
    width: 100%;
    display: inline-block;
    height: 10px;
    margin-left:3px;
}
.p-16{
    font-size: 32px;
    font-family: $font_fa_yuu;
    color:#fff;
    text-align: center;
    padding-top:176px;
    padding-bottom:12.5px;
    font-weight: 600;
}
.form{
    background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/form-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.border-3{
    height:3px;
    width:100%;
    max-width:86px;
    background-color: #fff;
    margin:0 auto;
    margin-bottom:30.5px;
}
/* footer */
.footer{
    background-color: #F1F1F1;
}
.f-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-icon{
    max-width: 49px;
    width:100%;
    margin:0 auto;
    padding-top:45px;
    padding-bottom:2px;
}
.f-mail{
    max-width: 220px;
    width:100%;
}
.w-f-mail{
    display: flex;
    background: rgb(52,145,117);
    background: -moz-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(33,146,162,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(33,146,162,1) 100%);
    background: linear-gradient(90deg, rgba(52,145,117,1) 0%, rgba(33,146,162,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#349175",endColorstr="#2192a2",GradientType=1);
    max-width: 210px;
    width:100%;
    justify-content: center;
    padding-top:20px;
    padding-bottom:15px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.22);
    margin-top: -5px;
}
.p-17{
    font-size: 14px;
    font-weight: 300;
    color:#1C1307;
    text-align: center;
    padding-top:5px;
    padding-bottom:26px;
}
.p-1-f{
    color:#fff;
    font-family: $font_fa_hirai;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.s1-f{
    font-size: 21px;
}
.h-mail-f {
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 6.7px;
}
/* thanks */
.thanks{
    text-align: center;
    padding-top: 20vh;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto;
}
.th-p1{
    padding-bottom: 25px;
}

/* ratin */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .fv{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-back@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .fv-bottom{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-bottom-back@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .nayami{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/con-1-back@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 50% 100%, 0% 88%);
    }
    .itirann{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/con-5-back@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .form{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/form-back@2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}



  /* ====================== */
  /*       hunberger        */
  /* ====================== */
.sp-nav-wrapper {
    display: none;
}

/* ================================== */
/*                 sp                 */
/* ================================== */
@media screen and (max-width: 1000px) {
    /* header */
    .fv {
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-back-sp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .fv-moji-sp{
        padding-top:150px;
    }
    .btn-1 {
        max-width: 100%;
        width: 100%;
    }
    .w-btn-1-bo {
        max-width: 100%;
    }
    /* riyuu */
    .ww-con-2-sp-1, .ww-con-2-sp-2, .ww-con-2-sp-3, .ww-con-2-sp-4 {
        padding-bottom: 55px;
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }
    .ww-con-2-sp-5 {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }
    /* */
    .w-c-6-i-1 {
        margin-left: 0;
    }
    .con-6-p2 {
        max-width: 529px;
        margin-left: 119px;
        top: 10px;
    }
    .con-6-p1 {
        max-width: 529px;
        margin-right: 134px;
        top: 13px;
    }
    .con-6-p3 {
        max-width: 529px;
        margin-right: 127px;
        top: 13px;
    }
    .con-6-p4 {
        max-width: 529px;
        margin-left: 128px;
        top: 10px;
    }
    .con-6-p5 {
        max-width: 529px;
        margin-right: 135px;
        top: 19px;
    }
    .w-c-6-i-1 {
        margin-right: 170px;
    }
    .w-c-6-i-1-3 {
        margin-left: 0;
    }
    .w-c-6-i-1-4 {
        margin-left: 170px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .fv{
            background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-back-sp@2x.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
@media screen and (max-width: 767px) {
    /* 共通 */
    .sp80{
    width:92%;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 255, 0.452);*/
    }
    .sp80-2{
    width:100%;
    }
    .sp80-3{
        width:94%;
        margin:0 auto;
    }
    .sp80-4{
        width:96%;
        margin:0 auto;
    }
    .wi997 {
        width: 100%;
    }
    .wi968{
        width:100%;
    }
    .wi1280{
        width:100%;
    }
    .wi1280-2{
        width:100%;
    }
    .wi1135{
        width:100%;
    }
    .wi100{
        width:100%;
    }
    .wi1900{
        width:100%;
    }
    /* */
    .s-kage {
        top: 50%;
    }
    .s-kage-2 {
        top: 55%;
    }
    .p-40-2 {
        padding-top: 0;
        font-size: 20px;
    }
    .s3{
        margin-top: -5px;
    }
    .mt-5{
        margin-top:5px;
    }
    /* header */
    

    /* nayami */
    .con-b-moij{
        max-width: 289px;
        width:100%;
        margin:0 auto;
        padding-top:13.3px;
        padding-bottom:0;
    }
    .nayami{
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 50% 100%, 0% 92%);
    }
    .con-1 {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }
    /* riyuu */
    .con-2 {
        padding-right: 0;
    }
    .ww-con-2 {
        padding-bottom: 0;
    }
    .ww-con-2-sp-1, .ww-con-2-sp-2, .ww-con-2-sp-3, .ww-con-2-sp-4 {
        padding-bottom: 55px;
    }
    .ww-con-2-sp-5 {
        padding-bottom: 79.3px;
    }
    .p-3 {
        padding-top: 62px;
        padding-bottom: 38px;
    }
    .w-con-3 {
        margin-left: 5%;
    }
    .con-3-o {
        padding-top: 10px;
    }
    .w-con-1{
        position:relative;
    }
    .siro-moya{
        position: absolute;
        top: 168px;
        left: -38%;
        z-index: 3;
        width: 586px;
    }
    .con-1{
        position:relative;
        z-index: 5;
    }

    /*fv*/
    .con-4 {
        padding-top: 0;
        padding-bottom: 0;
        margin-top:0;
        margin-bottom:0;
    }
    .p-1-2 {
        font-size: 20px;
    }
    .s2 {
        font-size: 22px;
    }
    .h-mail-2 {
        width: 28px;
    }
    .fv-moji-b {
        padding-top: 4px;
        padding-bottom: 40px;
    }
    /* fv-2 */
    .p-10 {
        font-size: 30px;
        font-family: "游明朝体", serif;
        text-align: center;
        font-weight: 600;
        padding-top: 80px;
        padding-bottom: 25.5px;
    }
    .con-4-7 {
        padding-top: 100px;
        padding-bottom: 0;
    }

    /* itirann */
    .c5-l-1 {
        max-width: 106px;
        margin-right: 6px;
        margin-bottom: 6px;
    }
    .w-c-5-img {
        padding-left: 6px;
    }
    .border-1 {
        margin-bottom: 31.5px;
    }
    .p-8 {
        font-size: 28px;
        padding-top: 37px;
        padding-bottom: 13.5px;
    }
    .ww-con-5 {
        padding-top: 27px;
        padding-bottom: 28px;
    }

    /* jirei */
    .con-6-in-t{
        clip-path: circle(50% at 50% 50%);
        background-color: #EEEEEE;
        max-width:150px;
        height:150px;
        width:100%;
        margin:0 auto;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
        top: 14px;
        left: 50%;
        z-index: 3;
    }
    .con-6-in-2:before {
        -webkit-clip-path: polygon(95% 0%, 100% 0%, 100% 100%);
        clip-path: polygon(80% 0%, 100% 0%, 100% 100%);
    }
    .con-6-in {
        margin-top: 150px;
        margin-left: 0;
    }
    .con-6-p1-sp{
        z-index: 3;
        position: relative;
        padding-top: 25px;
    }
    .w-c-6-i-1 {
        padding-top: 0;
        padding-bottom: 41px;
        margin-left: 150px;
        margin-left: 10px;
        margin-right: 5%;
    }
    .yaji-h{
        max-width:11px;
        width:100%;
        height:5px;
        margin-left:8.2px;
    }
    .con-3-2 {
        display: flex;
        cursor: pointer;
        align-items: center;
        background-color: #eee;
        padding-top:17px;
        padding-bottom:17px;
        /*max-width: 319px;*/
        width:95%;
        margin:0 auto;
        justify-content: center;
        margin-top: 22px;
        margin-bottom: 21px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
    }
    .p-19-sp {
        width: 95%;
        margin: 0 auto;
        margin-right: 5%;
        padding-left: 3%;
        max-width: 333px;
        margin-left: 0;
    }
    .c-6-i-1 {
        padding-right: 0;
    }
    .p-20 {
        line-height: 1.6;
        padding-bottom: 40px;
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
        padding-right: 2%;
    }
    .w-c-6-h {
        padding-top: 30px;
        padding-bottom: 28px;
    }
    .w-con-3-2-sp{
        margin-right:5%;
    }
    .con-6-in:before {
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 20% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 20% 0%);
    }
    /**/
    .w-c-6-i-1-2 {
        margin-left: 5%;
        margin-right:0;
    }
    .c-6-i-1-2 {
        padding-left: 5%;
    }
    .ww-p-19 {
        padding-right: 0;
        padding-bottom:60px;
    }
    .p-19-2 {
        margin-right: 8%;
        margin-left: 8%;
        text-align: left;
        padding-top: 18px;
        padding-bottom: 18px;
        width: auto;
    }
    .p-19-2-2 {
        margin-right: 8%;
        margin-left: 8%;
        text-align: left;
        padding-top: 18px;
        padding-bottom: 18px;
        width: auto;
    }
    .p-20-2 {
        padding-bottom: 37px;
        font-size: 18px;
        width: 95%;
        padding-right:4%;
        line-height: 1.6;
    }
    .w-p-19-2-in {
        padding-top: 48px;
        padding-bottom: 0;
    }
    .w-c-6-h-2 {
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 25px;
    margin-bottom: -53px;
    width: 93%;
    }
    /**/
    .con-6-in-2 {
        margin-right: 0;
    }
    .w-c-6-i-1-4 {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 41px;
        margin-left: 5%;
    }
    .c-6-i-3 {
        padding-left: 5%;
    }
    .p-19 {
        width: 95%;
        margin: 0 auto;
        font-size: 22px;
    }
    .ww-c-6-h {
        padding-right: 5%;
    }
    .p-20-3 {
        line-height: 1.6;
        padding-bottom: 40px;
        font-size: 16px;
        width: 95%;
        margin: 0 auto;
    }
    .w-con-3-2-sp-2 {
        margin-right: 0;
    }
    .w-c-6-i-1-3 {
        margin-right: 5%;
        margin-left: 0;
    }
    .c-6-i-1-3 {
        padding-right: 5%;
    }
    .ww-p-19-2-in-2 {
        width: 95%;
        margin-left: 0;
    }
    .p-20-2-2 {
        padding-bottom: 37px;
        font-size: 18px;
        width: 95%;
        margin-left: 5%;
        line-height: 1.6;
    }
    .con-3-2-2 {
        display: flex;
        cursor: pointer;
        align-items: center;
        background-color: #eee;
        padding-top:17px;
        padding-bottom:17px;
        width:95%;
        margin-left:5%;
        justify-content: center;
        margin-top: 22px;
        margin-bottom: 21px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.16);
    }
    .sp-btn-1{
        padding-bottom:21px;
    }
    .con-3-2 {
        margin-bottom: 0;
    }
    .con-3-2-2 {
        margin-bottom: 0;
    }
    /* koe */
    .con-7-in {
        display: block;
    }
    .con-7-i-1:nth-child(2) {
        margin-right: 0;
        margin-left: 0;
        margin:0 auto;
        margin-top: 31px;
        margin-bottom: 31px;
    }
    .con-7-i-1 {
        margin: 0 auto;
    }
    .in-con-2-7 {
        display: block;
    }
    .con-7-p1 {
        width: 92px;
        margin-right: 0;
        padding-top: 20px;
        padding-bottom: 14px;
        margin-left: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
    .con-2-2-7 {
        background-color: #fff;
        margin-right: calc(50% - 50vw);
        padding-right: calc(50vw - 50%);
        margin-left: 0;
        margin-left:5%;
        padding-left: 5%;
        -webkit-clip-path: polygon(100% 0%, 0% 0%, 3% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 0%, 3% 100%, 100% 100%);
    }
    .con-2-7 {
        margin-right: 5%;
        padding-right: 5%;
        display: block;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
    }
    .con-2-7-2 {
        margin-right:5%;
        padding-right: 5%;
        display: block;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
    }
    .con-7-p2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        margin-right: 0;
    }
    .con-7-p3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        margin-right:0;
        margin-left:0;
    }
    .p-13 {
        margin-left: 5%;
        padding-top: 125px;
        padding-bottom: 20px;
    }
    .p-13-2 {
        margin-right: 5%;
        padding-top: 125px;
        padding-bottom: 20px;
    }
    .p-14 {
        line-height: 1.6;
        font-weight: 300;
        padding-top: 28px;
        padding-bottom: 80px;
        width: 95%;
        margin: 0 auto;
    }
    .p-12 {
        font-size: 16px;
        text-align: center;
        padding-bottom: 35px;
        line-height: 1.8;
        width: 95%;
        margin: 0 auto;
    }
    .w-in-con-2-7:nth-child(1) {
        padding-top: 117px;
    }
    .w-in-con-2-7 {
        padding-top: 40px;
    }
    /* ngare */
    .p-15 {
        font-size: 27px;
        padding-top: 97px;
        padding-bottom: 75px;
    }
    .nagare-con{
        margin-bottom:74px;
    }
    /* form */
    /* form */
    .form-text {
        width: 100%;
        margin-left: 0;
        height: 45px;
    }
    .input , .input-txa {
        display: block;
        padding-bottom: 20px;
    }
    .p-40 {
        width: auto;
        margin-right: 10px;
        font-size: 20px;
    }
    .form-le{
        padding-bottom: 10px;
    }
    .input:nth-child(1) {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .w-btn-5 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
        padding-bottom: 65px;
    }
    .form-textarea {
        margin-left: 0;
        height: 268px;
    }
    .w-contact {
        padding-bottom: 83px;
    }
    .p-39 {
        padding-top: 34px;
        padding-bottom: 63px;
    }
    .balloon-con-16 {
        max-width: 355px;
        width: 100%;
    }
    .p-16{
        padding-top:60px;
        padding-bottom:17.5px;
        line-height: 1.2;
    }
    .border-3{
        height:3px;
        width:100%;
        max-width:86px;
        background-color: #fff;
        margin:0 auto;
        margin-bottom:41.5px;
    }
    /* fotterf */
    .f-1 {
        display: block;
    }
    .f-mail {
        max-width: 312px;
        width: 100%;
        margin: 0 auto;
        padding-left: 7px;
    }
    .w-f-mail{
        margin:0 auto;
        max-width: 288px;
        margin-top: 7px;
        margin-bottom:18px;
    }
    .f-icon {
        padding-top: 40px;
        padding-bottom: 13px;
    }
    .p-17 {
        padding-top: 0;
        padding-bottom: 49px;
    }
    .p-1-f{
        font-size: 19px;
    }
    .h-mail-f {
        height: auto;
        display: flex;
        align-items: center;
        margin-right: 6.7px;
        width: 37px;
    }
    /* header */
    .h-tel {
        max-width: 164px;
        width: 100%;
        margin-right: 0;
    }
    .logo {
        width: 30px;
    }
    .header-nav {
        padding-top: 6px;
        padding-bottom: 8px;
    }
    /* thanks */
    .thanks{
        text-align: left;
        padding-top: 25vh;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
        width: 80%;
        margin: 0 auto;
    }
    .th-p1{
        padding-bottom: 20px;
    }
    .fv{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-back-sp-767.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .fv-bottom{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/fv-bottom-back-sp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .nayami{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/con-1-back-sp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .itirann{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/con-5-back-sp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .form{
        background-image: url("http://dev-ac.heteml.net/mino/2022/jyounetu/img/form-back-sp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}
    @media screen and (max-width: 321px) {
        .s4 {
            margin-right: 15px;
            margin-left: 15px;
            max-width: 33px;
        }
        .p-3 {
            font-size: 28px;
        }
        .s-kage {
            top: 49%;
        }
}
/* ratin */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    

}

  /* ====================== */
  /*       hunberger        */
  /* ====================== */
  /* .btn-trigger */
  .btn-trigger {
    position: relative;
    width: 30px;
    height: 26px;
    cursor: pointer;
    margin: 15px;
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #707070;
  }
  .btn-trigger, .btn-trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 48%;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  /* #btn01 */
  #btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-40deg);
    transform: translateY(11px) rotate(-40deg);
    background-color: #fff;
  }
  #btn01.active span:nth-of-type(2) {
    opacity: 0;
  }
  #btn01.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(40deg);
    transform: translateY(-12px) rotate(40deg);
    background-color: #fff;
  }

  /* add-css */
  .active{
      display:block;
  }
  .of-hidden{
      overflow: hidden;
  }
  .sp-nav-wrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 90;
    top: 0;
    left: 0%;
    background-color: $color-mi;
  }
  .sp-nav-bg{
      display: flex;
      align-items: center;
      height:100%;
  }
  .sp-navi-right {
    width: 100%;
    margin: 0 auto;
  }/* ループアニメーション-重複 *//*
  .content{
    position: absolute;
    z-index:100;
    right:0;
  }*/
  /* nav-inner */
  .button-t{
    color:#fff;
    background-color: $color-pk;
    /*max-width:367px;*/
    /*height:68px;*/
    text-align: center;
    line-height: 48px;
    border-radius: 48px;
    font-size: $f_24;
    font-family: "游明朝体", serif;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.49);
    margin:0 auto;
    padding:0;
    width:100%;
    }
    .btn-big-t{
        max-width: 252.5px;
        margin: 0 auto;
    }
    .sp-nav-t{
        text-align: center;
        color:#fff;
        font-size: $f_24;
        margin-bottom:35px;
    }